.body {
  overflow-x: hidden;
}

.carousel{
  position: relative;
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  transition: all .5s linear;
  overflow-x: hidden;
}

.carousel__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__track-container{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.top-container{
  height: 10vh;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.footer-container{
  height: 10vh;
  object-position: center;
  display: none;
}

@media only screen and (max-width: 800px){
  #home_container{
    display: none;
  }
}

.contact-container{
  background-color: #c4c4c4;
  text-align: center;
}

@media only screen and (max-width: 800px){
  .work-button{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  .footer-container{
    display: block;
  }
}

.work-container{
  background-color: #c4c4c4;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

#full-width{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
}

.work-button {
  color: black;
}

.work-button:hover {
  text-decoration: none;
  color: black;
}

.bot-work-button h1 {
  color: black;
  padding-top: 20px;
  text-align: center;
}

.bot-work-button:hover {
  text-decoration: none;
  color: black;
}

.contact-button {
  color: black;
}

.contact-button:hover {
  text-decoration: none;
  color: black;
}

.work__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#float-left {
  float: left; display: inline;
}

#work-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#work-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

@media only screen and (max-width: 800px){
  #work-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 400px){
  #work-column {
    flex: 100%;
    max-width: 100%;
  }
}



#work-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Modal style */

.imgTest {
  cursor: pointer;
  transition: 0.3s;
}

.imgTest:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 80%;
  object-fit: contain;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*

CONTACT INFORMATION css

*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect h2,
.hovereffect p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

.hovereffect p {
  width: 20%;
  text-transform: none;
  font-size: 50px;
  line-height: 2;
  text-decoration: none;
}

.hovereffect p a {
  color: #fff;
  text-decoration: none;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 0px 5px;
}

.hovereffect p a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

.hovereffect p a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

.hovereffect p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

.hovereffect:hover .overlay:before {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
}

.hovereffect:hover p i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}
